SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_PUBLISHABLE_KEY=

QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=fitness_knowledge
COLLECTION_NAME=

GEMINI_API_KEY=
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
